<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{index}}
  <div class="container" style="display: flex; justify-content: space-between;">
  <div class="block1" style="width: 20%; height: 200px; background: red;">
    <h1 [hidden]='!isSelected(0)' >CHOOSEN</h1>
    First block
    <button (click)="voteClick(0,$event)" [disabled]='isDisableVote(0)'>vote</button>
  </div>
  <div  class="block2" style="width: 20%; height: 200px; background: red;">
    <h1 [hidden]='!isSelected(1)'>CHOOSEN</h1>
    Second block
    <button (click)="voteClick(1,$event)" [disabled]='isDisableVote(1)'>vote</button>
  </div>
  <div  class="block3" style="width: 20%; height: 200px; background: red;">
    <h1 [hidden]='!isSelected(2)'>CHOOSEN</h1>
    Third block
    <button (click)="voteClick(2,$event)" [disabled]='isDisableVote(2)'>vote</button>
  </div>
  <app-movie-display [tochild] = "movie"></app-movie-display>
</div>
</body>
</html>